
$--color--primary:#409EFF;
$--color--white:#FFF;
$--color--black:#000;
$--color--success:#47C23A;
$--color--warning:#E6A23C;
$--color--danger:#db6c22;
$--color--error:#F56C6C;
$--color--info:#9093ff;



$--color--lightPrimary:#e3eef8e0;
$--color--lightSuccess:#deeedde0;
$--color--lightWarning:#f1ece4e0;
$--color--lightDanger:#ece3dde0;
$--color--lightError:#e7d4d4e0;
$--color--lightInfo:#d8d9eee0;


$namespace:'g';
$state-prefix:'is-';
$modifier-separator:'--';
$element-separator:'__';